[submodule "src/ntfs-efi"]
	path = ntfs
	url = https://github.com/maharmstone/ntfs-efi
[submodule "btrfs-efi"]
	path = btrfs
	url = https://github.com/maharmstone/btrfs-efi
[submodule "freetype2"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
